# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/
build/
npm-debug.log

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini

# Secrets
**/secret.yaml