replicaCount: 1

image:
  repository: neorevn/office-backend
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"