apiVersion: apps/v1
kind: Deployment
metadata:
  name: office-backend
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: office-backend
  template:
    metadata:
      labels:
        app: office-backend
    spec:
      containers:
        - name: office-backend
          image: neorevn/office-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MONGO_URI
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: SECRET_KEY
            - name: PROMETHEUS_MULTIPROC_DIR
              value: "/tmp"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: office-backend
spec:
  selector:
    app: office-backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000