replicaCount: 1

image:
  repository: neorevn/office-frontend
  pullPolicy: Always
  tag: "latest"

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"